body {
  font-family: "Inter", sans-serif;
  background-color: #2a2c2f;
  margin: 0;
  padding: 0;
  color: white;
}

.page {
  max-width: 1280px;
  width: 100%;
  margin: auto;
  font-size: 16px;
  line-height: 20px;
}
@media screen and (min-width: 320px) and (max-width: 544px) {
  .page {
    max-width: 320px;
    gap: 50px;
    margin: 0 auto 65px;
  }
}
